########################################################
# Global
########################################################
global:
  imageRegistry: {{ .vars.globalImageRegistry }}
  imagePullSecrets: {{ .vars.globalImagePullSecrets }}
  defaultStorageClass: {{ .vars.globalDefaultStorageClass }}
  storageClass: {{ .vars.globalStorageClass }}

########################################################
# Redis
########################################################
redis:
  enabled: {{ .vars.redis.enabled }}
  architecture: standalone
  auth:
    enabled: false
  master:
    resources:
      requests:
        memory: 128Mi
      limits:
        memory: 1024Mi
    persistence:
      enabled: false

########################################################
# PostgreSQL
########################################################
postgresql:
  enabled: {{ .vars.postgresql.enabled }}
  architecture: standalone
  auth:
    enabled: true
    username: {{ .vars.adminUser }}
    password: {{ .vars.adminPassword }}
  resources:
    requests:
      memory: 128Mi
    limits:
      memory: 1024Mi
  primary:
    persistence:
      enabled: true
      size: {{ .vars.postgresql.storageSize }}
    initdb:
      scripts:
        create-databases.sql: |
          {{- .vars.postgresql.createDatabase | indent 10 }}

########################################################
# Minio
########################################################
minio:
  enabled: {{ .vars.minio.enabled }}
  nameOverride: minio
  mode: distributed
  auth:
    rootUser: {{ .vars.adminUser }}
    rootPassword: {{ .vars.adminPassword }}
  provisioning:
    enabled: true
    sleepTime: 30s
    buckets:
      - name: default
  resources:
    requests:
      memory: 128Mi
    limits:
      memory: 2048Mi
  ingress:
    enabled: true
    ingressClassName: {{ .vars.nginxIngressClassName }}
    hostname: minio.{{ .vars.domain }}
  apiIngress:
    enabled: true
    ingressClassName: {{ .vars.nginxIngressClassName }}
    hostname: minio-api.{{ .vars.domain }}
    annotations:
      nginx.ingress.kubernetes.io/proxy-body-size: "0"
  persistence:
    enabled: true
    size: {{ .vars.minio.storageSize }}
  statefulset:
    replicaCount: {{ .vars.minio.replicas }}
    drivesPerNode: {{ .vars.minio.driverPerNode }}
