########################################################
# Global
########################################################
global:
  imageRegistry: {{ .vars.globalImageRegistry }}
  imagePullSecrets: {{ .vars.globalImagePullSecrets }}

########################################################
# kube-prometheus-stack
########################################################
kube-prometheus-stack:
  enabled: true
  grafana:
    enabled: true
    defaultDashboardsTimezone: {{ .vars.timezone }}
    adminUser: {{ .vars.adminUser }}
    adminPassword: {{ .vars.adminPassword }}
    ingress:
      enabled: true
      ingressClassName: {{ .vars.nginxIngressClassName }}
      hosts:
        - grafana.{{ .vars.domain }}
      path: /
    additionalDataSources:
      - name: Loki
        type: loki
        access: proxy
        url: "http://{{ "{{" }} .Release.Name {{ "}}" }}-loki-gateway:80"
        jsonData:
          timeInterval: 30s
        editable: false 
  prometheus:
    prometheusSpec:
      retention: 30d
      storageSpec:
        volumeClaimTemplate:
          spec:
            storageClassName: {{ .vars.globalStorageClass }}
            accessModes:
              - ReadWriteOnce
            resources:
              requests:
                storage: 10Gi

########################################################
# loki
########################################################
loki:
  enabled: true
  loki:
    auth_enabled: false
    commonConfig:
      replication_factor: 1
    schemaConfig:
      configs:
        - from: 2024-04-01
          store: tsdb
          object_store: filesystem
          schema: v13
          index:
            prefix: loki_index_
            period: 24h
    storage:
      type: filesystem
  deploymentMode: SingleBinary
  singleBinary:
    resources:
      limits:
        memory: 4Gi
      requests:
        memory: 2Gi
    extraEnv:
      - name: GOMEMLIMIT
        value: 3750MiB
  minio:
    enabled: false
  backend:
    replicas: 0
  read:
    replicas: 0
  write:
    replicas: 0
 
  ingester:
    replicas: 0
  querier:
    replicas: 0
  queryFrontend:
    replicas: 0
  queryScheduler:
    replicas: 0
  distributor:
    replicas: 0
  compactor:
    replicas: 0
  indexGateway:
    replicas: 0
  bloomCompactor:
    replicas: 0
  bloomGateway:
    replicas: 0

########################################################
# promtail
########################################################
promtail:
  enabled: true
  config:
    logLevel: info
    clients:
      - url: "http://{{ "{{" }} .Release.Name {{ "}}" }}-loki-gateway:80/loki/api/v1/push"
    enableTracing: true
