########################################################
# Global
########################################################
global:
  imageRegistry: {{ .vars.global_image_registry }}
  imagePullSecrets: {{ .vars.global_image_pull_secrets }}
  defaultStorageClass: {{ .vars.global_default_storage_class }}
  storageClass: {{ .vars.global_storage_class }}

########################################################
# Redis
########################################################
redis:
  enabled: true
  architecture: standalone
  auth:
    enabled: false
  master:
    resources:
      requests:
        memory: 128Mi
      limits:
        memory: 1024Mi
    persistence:
      enabled: false

########################################################
# PostgreSQL
########################################################
postgresql:
  enabled: true
  architecture: standalone
  auth:
    enabled: true
    username: {{ .vars.admin_user }}
    password: {{ .vars.admin_password }}
  resources:
    requests:
      memory: 128Mi
    limits:
      memory: 1024Mi
  primary:
    initdb:
      scripts:
        create-databases.sql: |
          CREATE DATABASE gitea;
          CREATE DATABASE harbor_core;

########################################################
# Minio
########################################################
minio:
  enabled: true
  nameOverride: minio
  mode: distributed
  auth:
    rootUser: {{ .vars.admin_user }}
    rootPassword: {{ .vars.admin_password }}
  provisioning:
    enabled: true
    sleepTime: 30s
    buckets:
      - name: default
      - name: harbor
  resources:
    requests:
      memory: 128Mi
    limits:
      memory: 2048Mi
  ingress:
    enabled: true
    ingressClassName: {{ .vars.nginx_ingress_class_name }}
    hostname: minio.{{ .vars.domain }}
  apiIngress:
    enabled: true
    ingressClassName: {{ .vars.nginx_ingress_class_name }}
    hostname: minio-api.{{ .vars.domain }}
    annotations:
      nginx.ingress.kubernetes.io/proxy-body-size: "0"
  persistence:
    enabled: true
    size: 10Gi
  statefulset:
    replicaCount: 4
    drivesPerNode: 1

########################################################
# Harbor
########################################################
harbor:
  enabled: true
  exposureType: ingress
  ingress:
    core:
      hostname: harbor.{{ .vars.domain }}
      ingressClassName: {{ .vars.nginx_ingress_class_name }}
  externalURL: https://harbor.{{ .vars.namespace }}.svc.cluster.local:{{ .vars.nginx_ingress_https_port }}
  adminPassword: {{ .vars.admin_password }}
  trivy:
    enabled: false
  service:
    type: ClusterIP
  jobservice:
    updateStrategy:
      type: Recreate
  persistence:
    imageChartStorage:
      type: s3
      s3:
        bucket: harbor
        rootdirectory: /
        accesskey: {{ .vars.admin_user }}
        secretkey: {{ .vars.admin_password }}
        secure: false
        regionendpoint: http://minio-api.{{ .vars.namespace }}.svc.cluster.local:{{ .vars.nginx_ingress_http_port }}
  postgresql:
    enabled: false
  externalDatabase:
    host: {{ .vars.release_name }}-postgresql.{{ .vars.namespace }}.svc.cluster.local
    port: 5432
    user: {{ .vars.admin_user }}
    password: {{ .vars.admin_password }}
    sslmode: disable
    coreDatabase: harbor_core
  redis:
    enabled: false
  externalRedis:
    host: {{ .vars.release_name }}-redis-master.{{ .vars.namespace }}.svc.cluster.local
    port: 6379

########################################################
# Gitea
########################################################
gitea:
  enabled: true
  ingress:
    enabled: true
    ingressClassName: {{ .vars.nginx_ingress_class_name }}
    hostname: gitea.{{ .vars.domain }}
    annotations:
      nginx.ingress.kubernetes.io/proxy-body-size: "50m"
  service:
    type: ClusterIP
  resources:
    requests:
      memory: 128Mi
    limits:
      memory: 1024Mi
  appName: ops-gitea
  rootURL: https://gitea.{{ .vars.domain }}:{{ .vars.nginx_ingress_https_port | default "443" }}
  extraEnvVars:
    - name: GITEA__SERVICE__SHOW_REGISTRATION_BUTTON
      value: "false"
  persistence:
    enabled: true
    size: 10Gi
  adminEmail: {{ .vars.admin_email }}
  adminPassword: {{ .vars.admin_password }}
  adminUsername: {{ .vars.admin_user }}
  postgresql:
    enabled: false
  externalDatabase:
    host: {{ .vars.release_name }}-postgresql.{{ .vars.namespace }}.svc.cluster.local
    port: 5432
    user: {{ .vars.admin_user }}
    password: {{ .vars.admin_password }}
    database: gitea

########################################################
# Argo CD
########################################################
argo-cd:
  enabled: true
  config:
    secret:
      argocdServerAdminPassword: {{ .vars.admin_password }}
  server:
    insecure: true
    ingress:
      enabled: true
      ingressClassName: {{ .vars.nginx_ingress_class_name }}
      hostname: argocd.{{ .vars.domain }}
    resources:
      requests:
        memory: 128Mi
      limits:
        memory: 1024Mi
  repoServer:
    resources:
      requests:
        memory: 128Mi
      limits:
        memory: 1024Mi
  controller:
    resources:
      requests:
        memory: 128Mi
      limits:
        memory: 1024Mi
  redis:
    enabled: false
  externalRedis:
    host: {{ .vars.release_name }}-redis-master.{{ .vars.namespace }}.svc.cluster.local
    port: 6379
